
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>

        .navbar1 {
            overflow: hidden;
            background-color: #333;
            font-family: Arial, Helvetica, sans-serif;
            height: 60px;
            width: 100%;
            margin-top: -8px;
        }

            .navbar1 a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .dropdown1 {
            float: left;
            overflow: hidden;
        }

            .dropdown1 .dropbtn {
                cursor: pointer;
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar1 a:hover, .dropdown1:hover .dropbtn, .dropbtn:focus {
                background-color: red;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .show {
            display: block;
        }


        * {
            box-sizing: border-box;
            margin: 0px
        }
        .myform {
            width:33%;
            /*margin-left:33%;*/
            margin:10px 33%;
            padding:10px;
            border-radius:10px
        }
        .shadow-lg{
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4) !important;
        }

        .foot {
            color: white;
            background-color: black;
            height: 100px;
        }
    </style>
</head>
<body>
    <div>
        <div class="navbar1">
            @Html.ActionLink("Home", "index2", "Home", new { area = "" }, new { @class = "nav-link" })


            
            <a href="#home">Feature</a>
            <div class="dropdown1">
                <button class="dropbtn" onclick="myFunction()">
                    Dropdown app
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">IOS </a>
                    <a href="#">Android</a>

                </div>
            </div>

            @Html.ActionLink("login", "page", "Home", new { area = "" }, new { @class = "nav-link" })


            @Html.ActionLink("register", "register", "Home", new { area = "" }, new { @class = "nav-link" })

        </div>



        <script>
     /* When the user clicks on the button,
     toggle between hiding and showing the dropdown content */
     function myFunction() {
         document.getElementById("myDropdown").classList.toggle("show");
     }

     // Close the dropdown if the user clicks outside of it
     window.onclick = function (e) {
         if (!e.target.matches('.dropbtn')) {
             var myDropdown = document.getElementById("myDropdown");
             if (myDropdown.classList.contains('show')) {
                 myDropdown.classList.remove('show');
             }
         }
     }
        </script>
    </div>
    <div  >
        @RenderBody()
    </div>
    <div class="foot">copyright</div>
</body>
</html>
