/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fixedHeader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    min-height: 100px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header_02 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}

.fadeInDown {
    animation-name: fadeInDown;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
header {
    display: block;
}
.logo {
    margin-top: 10px
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.mainMenu {
    position: relative;
    line-height: .8;
    padding: 39px 0 0;
}

.text-right {
    text-align: right !important;
}
.fixedHeader .mainMenu ul li {
    padding-bottom: 44px;
}

.mainMenu ul li {
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    line-height: .8;
    padding-bottom: 29px;
}

.color {
    background: #eca806; 
    padding: 8px 15px; 
    color:black;
}

.mainMenu ul li a {
    /*color: #fff;*/
    text-transform: uppercase;
    font-size: 18px;
    line-height: .8;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}
.aa {
    text-align: center;
        margin:4px;
        color:black;
}
.aa:hover{
    background-color:black;
    color:white;
}





