
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>

        .navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial, Helvetica, sans-serif;
            height: 60px;
            /*position: fixed;
            z-index:1;*/
            width: 100%;
            margin-top: -8px;
        }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .dropdown {
            float: left;
            overflow: hidden;
        }

            .dropdown .dropbtn {
                cursor: pointer;
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
                background-color: red;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .show {
            display: block;
            
        }


        * {
            box-sizing: border-box;
                margin:0px
        }

        
        .slideshow-container {
            max-width: 100%;
            position: relative;
            margin: auto;
            height:auto;
            overflow:hidden;
        }

        
        .mySlides {
            display: none;
        }

        
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            
            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }

        
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

            .active, .dot:hover {
                background-color: #717171;
            }

        
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }



        .slider {
            width: 500px;
            height: 300px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }

        .image-container {
            width: 1500px;
            background-color: pink;
            height: 300px;
            clear: both;
            position: relative;
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }

        .slide {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }

        #slide-1:target ~ .image-container {
            left: 0px;
        }

        #slide-2:target ~ .image-container {
            left: -500px;
        }

        #slide-3:target ~ .image-container {
            left: -1000px;
        }

        .buttons {
            position: relative;
            top: -20px;
        }

            .buttons a {
                display: inline-block;
                height: 15px;
                width: 15px;
                border-radius: 50px;
                background-color: lightgreen;
            }
        .foot {
            color: white;
            background-color: black;
            height:100px;
        }
    </style>
</head>
<body>
    <div>
        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#home">Feature</a>
            <div class="dropdown">
                <button class="dropbtn" onclick="myFunction()">
                    Dropdown app
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">IOS </a>
                    <a href="#">Android</a>

                </div>
            </div>
            
            @Html.ActionLink("login", "page", "Home", new { area = "" }, new { @class = "nav-link" })


            @Html.ActionLink("register", "register", "Home", new { area = "" }, new { @class = "nav-link" })
        </div>



        <script>
            
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            
            window.onclick = function (e) {
                if (!e.target.matches('.dropbtn')) {
                    var myDropdown = document.getElementById("myDropdown");
                    if (myDropdown.classList.contains('show')) {
                        myDropdown.classList.remove('show');
                    }
                }
            }
        </script>

        
        <div class="slideshow-container">

            
            <div class="mySlides fade">

                <img src="~/Content/image/3818893.jpg" style="width:100%;">

                <div class="text">
                    <button style="background-color: green; height: 40px; width: 200px; font-size: 20px;" type="submit">Download IOS App</button>
                    <button style="background-color:green; margin-left:20px ;height: 40px;width: 218px;font-size: 20px;" type="submit">Download Android App</button>
                </div>
            </div>

            <div class="mySlides fade">

                <img src="~/Content/image/wplPlayersImg.jpg" style="width: 100%; ">

                <div class="text">
                    <button style="background-color: green; height: 40px; width: 200px; font-size: 20px;" type="submit">Download IOS App</button>
                    <button style="background-color:green; margin-left:20px ;height: 40px;width: 218px;font-size: 20px;" type="submit">Download Android App</button>

                </div>
            </div>

            <div class="mySlides fade">

                <img src="~/Content/image/3818893.jpg" style="width:100%">
                <div class="text">
                    <button style="background-color: green; height: 40px; width: 200px; font-size: 20px;" type="submit">Download IOS App</button>
                    <button style="background-color:green; margin-left:20px ;height: 40px;width: 218px;font-size: 20px;" type="submit">Download Android App</button>

                </div>
            </div>


        </div>
        <br>





        <script>
            let slideIndex = 0;
            showSlides();

            function showSlides() {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                slides[slideIndex - 1].style.display = "block";
                setTimeout(showSlides, 2000); 
            }
        </script>

        

        <div class="slider">
            <span id="slide-1"></span>
            <span id="slide-2"></span>
            <span id="slide-3"></span>
            <div class="image-container">

                <img src="~/Content/image/Artboard1.png" class="slide" width="500" height="300" />

                <img src="~/Content/image/Artboard4.png" class="slide" width="500" height="300" />

                <img src="~/Content/image/Artboard5.png" class="slide" width="500" height="300" />
            </div>
            <div class="buttons">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </div>
    <div class="foot">copyright</div>
</body>
</html>
